PROJECT_NAME=Color_Type_Analyzer

POSTGRES_SERVER=localhost
POSTGRES_PORT=5435
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=localhost

AI_MODEL=gemma3:270m
AI_BASE_URL=http://localhost:11434

DEBUG=True
